#!/bin/sh
# THIS IS AN UNPUBLISHED WORK CONTAINING D2 TECHNOLOGIES, INC. CONFIDENTIAL
# AND PROPRIETARY INFORMATION.  IF PUBLICATION OCCURS, THE FOLLOWING NOTICE
# APPLIES: "COPYRIGHT 2008 D2 TECHNOLOGIES, INC. ALL RIGHTS RESERVED"
#
# $D2Tech$ $Rev: 1.1.2.2 $ $Date: 2011/11/15 20:12:06 $
#

/sbin/ifconfig eth0 172.16.31.1 netmask 255.240.0.0
/sbin/ifconfig lo 127.0.0.1
route add default netmask 0.0.0.0 gw 172.16.0.1
