#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.lo
*.la
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.map

config.log
config.status
#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
*.d
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey


#
Image
piggy.gzip
vmlinux
uImage
zImage
vmlinux.lds
config_data.h
initramfs_data.cpio
tags
System.map
u-boot
u-boot.srec

rootfs/apps/build/

rootfs/_rootfs
rootfs/root.squashfs
rootfs/apps/fwmng/align_file
rootfs/apps/fwmng/fwinfo
rootfs/apps/fwmng/update_sys_info
rootfs/apps/target/bin/hostapd
rootfs/vid
rootfs/apps/dropbear-2015.68/config.log
rootfs/apps/dropbear-2015.68/config.status
rootfs/apps/dropbear-2015.68/dropbearmulti
rootfs/apps/dropbear-2015.68/Makefile
rootfs/apps/dropbear-2015.68/config.h
rootfs/apps/dropbear-2015.68/libtomcrypt/Makefile
rootfs/apps/dropbear-2015.68/libtommath/Makefile
rootfs/apps/busybox-1.22.1/_install
rootfs/apps/build

rootfs/apps/libnl-1.1/Makefile.opts
rootfs/apps/libnl-1.1/config.log
rootfs/apps/libnl-1.1/config.status
rootfs/apps/libnl-1.1/lib/addr.d
rootfs/apps/libnl-1.1/lib/attr.d
rootfs/apps/libnl-1.1/lib/cache.d
rootfs/apps/libnl-1.1/lib/cache_mngr.d
rootfs/apps/libnl-1.1/lib/cache_mngt.d
rootfs/apps/libnl-1.1/lib/data.d
rootfs/apps/libnl-1.1/lib/family.d
rootfs/apps/libnl-1.1/lib/handlers.d
rootfs/apps/libnl-1.1/lib/libnl.so.1.1
rootfs/apps/libnl-1.1/lib/msg.d
rootfs/apps/libnl-1.1/lib/nl.d
rootfs/apps/libnl-1.1/lib/object.d
rootfs/apps/libnl-1.1/lib/socket.d
rootfs/apps/libnl-1.1/lib/utils.d
rootfs/apps/libnl-1.1/libnl-1.pc
rootfs/apps/libnl-1.1/src/genl-ctrl-dump
rootfs/apps/libnl-1.1/src/genl-ctrl-get
rootfs/apps/libnl-1.1/src/nf-ct-dump
rootfs/apps/libnl-1.1/src/nf-log
rootfs/apps/libnl-1.1/src/nf-monitor
rootfs/apps/libnl-1.1/src/nl-addr-add
rootfs/apps/libnl-1.1/src/nl-addr-delete
rootfs/apps/libnl-1.1/src/nl-addr-dump
rootfs/apps/libnl-1.1/src/nl-fib-lookup
rootfs/apps/libnl-1.1/src/nl-link-dump
rootfs/apps/libnl-1.1/src/nl-link-ifindex2name
rootfs/apps/libnl-1.1/src/nl-link-name2ifindex
rootfs/apps/libnl-1.1/src/nl-link-set
rootfs/apps/libnl-1.1/src/nl-link-stats
rootfs/apps/libnl-1.1/src/nl-list-caches
rootfs/apps/libnl-1.1/src/nl-list-sockets
rootfs/apps/libnl-1.1/src/nl-monitor
rootfs/apps/libnl-1.1/src/nl-neigh-add
rootfs/apps/libnl-1.1/src/nl-neigh-delete
rootfs/apps/libnl-1.1/src/nl-neigh-dump
rootfs/apps/libnl-1.1/src/nl-neightbl-dump
rootfs/apps/libnl-1.1/src/nl-qdisc-add
rootfs/apps/libnl-1.1/src/nl-qdisc-delete
rootfs/apps/libnl-1.1/src/nl-qdisc-dump
rootfs/apps/libnl-1.1/src/nl-route-add
rootfs/apps/libnl-1.1/src/nl-route-del
rootfs/apps/libnl-1.1/src/nl-route-dump
rootfs/apps/libnl-1.1/src/nl-route-get
rootfs/apps/libnl-1.1/src/nl-rule-dump
rootfs/apps/libnl-1.1/src/nl-tctree-dump
rootfs/apps/libnl-1.1/src/nl-util-addr
rootfs/apps/libnl-1.1/tests/test-cache-mngr
rootfs/apps/libnl-1.1/tests/test-genl
rootfs/apps/libnl-1.1/tests/test-nf-cache-mngr
rootfs/apps/libnl-1.1/tests/test-socket-creation

rootfs/apps/openssl-1.0.1e/Makefile
rootfs/apps/openssl-1.0.1e/Makefile.bak
rootfs/apps/openssl-1.0.1e/apps/openssl
rootfs/apps/openssl-1.0.1e/crypto/buildinf.h
rootfs/apps/openssl-1.0.1e/crypto/opensslconf.h
rootfs/apps/openssl-1.0.1e/crypto/opensslconf.h.bak
rootfs/apps/openssl-1.0.1e/libcrypto.pc
rootfs/apps/openssl-1.0.1e/libssl.pc
rootfs/apps/openssl-1.0.1e/openssl.pc
rootfs/apps/openssl-1.0.1e/test/asn1test
rootfs/apps/openssl-1.0.1e/test/bftest
rootfs/apps/openssl-1.0.1e/test/bntest
rootfs/apps/openssl-1.0.1e/test/casttest
rootfs/apps/openssl-1.0.1e/test/destest
rootfs/apps/openssl-1.0.1e/test/dhtest
rootfs/apps/openssl-1.0.1e/test/dsatest
rootfs/apps/openssl-1.0.1e/test/dummytest
rootfs/apps/openssl-1.0.1e/test/ecdhtest
rootfs/apps/openssl-1.0.1e/test/ecdsatest
rootfs/apps/openssl-1.0.1e/test/ectest
rootfs/apps/openssl-1.0.1e/test/enginetest
rootfs/apps/openssl-1.0.1e/test/evp_test
rootfs/apps/openssl-1.0.1e/test/exptest
rootfs/apps/openssl-1.0.1e/test/hmactest
rootfs/apps/openssl-1.0.1e/test/ideatest
rootfs/apps/openssl-1.0.1e/test/igetest
rootfs/apps/openssl-1.0.1e/test/jpaketest
rootfs/apps/openssl-1.0.1e/test/md2test
rootfs/apps/openssl-1.0.1e/test/md4test
rootfs/apps/openssl-1.0.1e/test/md5test
rootfs/apps/openssl-1.0.1e/test/mdc2test
rootfs/apps/openssl-1.0.1e/test/randtest
rootfs/apps/openssl-1.0.1e/test/rc2test
rootfs/apps/openssl-1.0.1e/test/rc4test
rootfs/apps/openssl-1.0.1e/test/rc5test
rootfs/apps/openssl-1.0.1e/test/rmdtest
rootfs/apps/openssl-1.0.1e/test/rsa_test
rootfs/apps/openssl-1.0.1e/test/sha1test
rootfs/apps/openssl-1.0.1e/test/sha256t
rootfs/apps/openssl-1.0.1e/test/sha512t
rootfs/apps/openssl-1.0.1e/test/shatest
rootfs/apps/openssl-1.0.1e/test/srptest
rootfs/apps/openssl-1.0.1e/test/ssltest
rootfs/apps/openssl-1.0.1e/test/wp_test
rootfs/apps/openssl-1.0.1e/tools/c_rehash
rootfs/apps/openssl-1.0.1e/tools/c_rehash.bak

rootfs/rootfs.img
rootfs/build

linux-2.6.36/lib/gen_crc32table
linux-2.6.36/scripts/basic/docproc
linux-2.6.36/scripts/basic/fixdep
linux-2.6.36/scripts/basic/hash
linux-2.6.36/scripts/bin2c
linux-2.6.36/scripts/conmakehash
linux-2.6.36/scripts/kconfig/conf
linux-2.6.36/scripts/mod/mk_elfconfig
linux-2.6.36/scripts/mod/modpost
linux-2.6.36/usr/gen_init_cpio

rootfs/apps/strongswan-5.3.3/*/Makefile
